<h1 id="archlinux-install-guide">Archlinux install guide</h1>
<p>Autor: <a href="https://t.me/dakataca"><span class="citation"
data-cites="dakataca">@dakataca</span></a></p>
<pre class="shell"><code>iwctl #host
  station wlan0 connect Memoria #host
  station list #host
  exit #host
ip a #host
passwd #host
rm ~/.ssh/known_hosts
ssh root@192.168.1.103
setfont ter-i18n
#setfont LatArCyrHeb-16
lsscsi -s
lsblk -pso NAME,ROTA /dev/sda
parted /dev/sda print | grep -E &quot;Model|abl|Dis&quot;
ls /sys/firmware/efi/efivars
gdisk /dev/sda  
   o      # Crear nueva tabla de partición GUID vacía GPT (borra todas las particiones).   
   Y      # Confirmar.  
   p      # Imprimir tabla de parciciones (vacía).
   n      # Crear nueva partición para EFI.
   Enter  # Número de la partición por defecto (1).
   Enter  # Primer sector de la partición EFI por defecto.
   +300M  # Tamaño (último sector) de la partición EFI.
   l      # Listar códigos de nombre/PARTLABEL de particiones.
   Enter  # Listar todos los códigos de nombre/PARTLABEL.
   q      # Volver al modo comando de gdisk.
   ef00   # Código de la partición con nombre/PARTLABEL &quot;EFI system partition&quot;.
   n      # Crear nueva partición para SWAP.
   Enter  # Número de la partición SWAP por defecto (2).
   Enter  # Primer sector de la partición por defecto.
## Fuente externa: https://help.ubuntu.com/community/SwapFaq#How_much_swap_do_I_need.3F
# :=================================================================================:
# |            Tamaño de la partición SWAP según cantidad de ram y uso              |
# :===================:=====:=====:=======:=====:=======:======:======:======:======:
# |         Ram =&gt;    | 2GB | 4GB*|  6GB  | 8GB |  12GB | 16GB | 24GB | 32GB | 64GB |
# |------.-----.------:-----:-----:-------:-----:-------:------:------:------:------:
# |      |Hi   |  si* | 2GB | 5GB |  8GB  | 10GB |  14GB | 18GB | 27GB | 37GB | 70GB |
# | swap | ber |------|-----|-----|-------|-----|-------|------|------|------|------|
# |      |  nar|  no  | 1GB | 2GB | 2.5GB | 3GB | 3.5GB | 4GB  | 5GB  | 6GB  | 8GB  |
   +5G    # Tamaño (último sector) de la partición SWAP.
   l      # Listar códigos de nombre/PARTLABEL de particiones.
   Linux  # Listar los códigos de nombre/PARTLABEL que coincidan con la regex &quot;Linux&quot;.
   q      # Volver al modo comando de gdisk.
   8200   # Código de la partición con nombre/PARTLABEL &quot;Linux swap&quot;.
   n      # Crear nueva partición para ROOT.
   Enter  # Número de la partición por defecto (3).
   Enter  # Primer sector de la partición ROOT por defecto.
   Enter  # Utilizar espacio restante (último sector) para partición ROOT.
   8304   # Código de la partición con nombre/PARTLABEL &quot;Linux x86-64 root(/)&quot;.
   w      # Guardar los cambios.
   Y      # Confirmar.
lsblk -p /dev/sda
mkswap -L swap /dev/sda2
swapon /dev/sda2
mkfs.btrfs -f -L root -R free-space-tree /dev/sda3
mount /dev/sda3 /mnt
lsblk -po NAME,FSTYPE,LABEL,MOUNTPOINT,SIZE /dev/sda
btrfs subvolume create /mnt/@
btrfs subvolume create /mnt/@home
btrfs subvolume create /mnt/@var_log
btrfs subvolume create /mnt/@var_tmp
btrfs subvolume create /mnt/@snapshots
btrfs subvolume list -p /mnt
ls /mnt
umount /mnt
mount -o noatime,compress=zstd,subvol=@ /dev/sda3 /mnt
mount --mkdir -o noatime,compress=zstd,subvol=@home /dev/sda3 /mnt/home
mount --mkdir -o noatime,compress=zstd,subvol=@var_log /dev/sda3 /mnt/var/log
mount --mkdir -o noatime,compress=zstd,subvol=@var_tmp /dev/sda3 /mnt/var/tmp
# El subvolumen snapshot lo montaremos cuando implementemos Snapper.
mkfs.fat -F 32 -n EFI /dev/sda1
mount --mkdir /dev/sda1 /mnt/boot
lsblk -p /dev/sda
ls -R /mnt
curl -L http://ix.io/4nIa &gt; /etc/pacman.d/mirrorlist
cat /etc/pacman.d/mirrorlist

pacstrap /mnt base{,-devel} linux{,-{lts,headers,firmware}} grub{,-btrfs} ntfs-3g gvfs-{mtp,afc,gphoto2} neovim terminus-font efibootmgr

genfstab -U /mnt &gt; /mnt/etc/fstab
cat /mnt/etc/fstab

mkdir -p /mnt/var/lib/iwd/
cp /var/lib/iwd/*.psk /mnt/var/lib/iwd/</code></pre>
<h3 id="chroot">Chroot</h3>
<pre class="shell"><code>arch-chroot /mnt
ln -sf /usr/share/zoneinfo/America/Bogota /etc/localtime
hwclock --systohc
echo &#39;es_CO.UTF-8 UTF-8&#39; &gt; /etc/locale.gen
#nvim /etc/locale.gen
locale-gen
echo &#39;LANG=es_CO.UTF-8&#39; &gt; /etc/locale.conf
echo &#39;FONT=Lat2-Terminus16&#39; &gt; /etc/vconsole.conf</code></pre>
<h3 id="host">Host</h3>
<pre class="shell"><code>echo ES1-411 &gt; /etc/hostname
#echo hp1000 &gt; /etc/hostname</code></pre>
<pre class="shell"><code>nvim /etc/hosts
----------------------------------------------------------------
127.0.0.1                       localhost
::1                             localhost
127.0.1.1  ES1-411.localdomain  ES1-411
#127.0.1.1  hp1000.localdomain  hp1000</code></pre>
<p>Añadir módulos <code>btrfs</code>, <code>zram</code> e
<code>i915</code> y eliminar hook <code>fsck</code>:</p>
<pre class="shell"><code>nvim /etc/mkinitcpio.conf
----------------------------------------------------------------
## Edite la configuración de initramfs.
#--&gt; /etc/mkinitcpio.conf

## Intel graphics.
MODULES=(btrfs zram i915)

## AMD grapchics.
#MODULES=(btrfs zram radeon)            # AMD radeon.
#MODULES=(btrfs zram amdgpu)            # AMD amdgpu.
...

## Con hibernación.
# Elimine el hook fcsk (solo para root &quot;/&quot; en btrfs) y agregue resume, para habilitar la hibernación (en disco).
HOOKS=(base udev autodetect modconf kms keyboard keymap consolefont block filesystems resume)
## Sin hibernación.
# Elimine el hook fcsk (solo para root &quot;/&quot; en btrfs).
#HOOKS=(base udev autodetect modconf kms keyboard keymap consolefont block filesystems)</code></pre>
<pre class="shell"><code>mkinitcpio -P
grub-install --target=x86_64-efi --efi-directory=/boot --bootloader-id=Archlinux</code></pre>
<h4 id="hibernación">Hibernación</h4>
<p>Listar nombre o “PARTLABEL” de la partición de respaldo “swap” (Solo
GPT).</p>
<pre class="shell"><code>blkid -s PARTLABEL -o value /dev/sda2
................................................................
Linux swap</code></pre>
<p>Eliminar parámetro del kernel <code>quiet</code>y agregar parámetros
para recordar el último kernel usado:</p>
<pre class="shell"><code>nvim /etc/default/grub
----------------------------------------------------------------
## Edite/descomente las líneas de configuración de Grub.
## wiki: https://wiki.archlinux.org/title/GRUB#Additional_arguments


# Segundos de espera, antes de iniciar la entrada Grub predeterminada.
GRUB_TIMEOUT=3

## Con hibernación.
## wiki: https://wiki.archlinux.org/title/silent_boot
## wiki: https://wiki.archlinux.org/title/Power_management/Suspend_and_hibernate#Hibernation
# :==========:================================:==================================:
# |  Acción  |           Parámetro            |           Descripción            |
# :==========:================================:==================================:
# | Eliminar |             quiet              | Deshabilitar salida silenciosa.  |
# |----------|--------------------------------|----------------------------------|
# |          |                                | Habilitar hibernación en disposi-|
# | Agregar  |  resume=&quot;PARTLABEL=Linux swap&quot; | tivo &quot;Linux swap&quot; (gdisk). Requi-|
# |          |                                | ere hook &quot;resume&quot; en initramfs.  |
GRUB_CMDLINE_LINUX_DEFAULT=&quot;loglevel=3 resume=&#39;PARTLABEL=Linux swap&#39;
## Sin hibernación.
#GRUB_CMDLINE_LINUX_DEFAULT=&quot;loglevel=3&quot;
...
# Recordar última entrada Grub iniciada como predeterminada.
# wiki: https://wiki.archlinux.org/title/GRUB/Tips_and_tricks#Recall_previous_entry
GRUB_DEFAULT=saved
GRUB_SAVEDEFAULT=true
...

### Autor: https://t.me/dakataca ###</code></pre>
<pre class="shell"><code>grub-mkconfig -o /boot/grub/grub.cfg
passwd
# Si usa impresora/scanner
#useradd -mG wheel,input,audio,video,optical,scanner,lp -s /bin/bash dakataca
useradd -mG wheel,input,audio,video,optical -s /bin/bash dakataca
passwd dakataca</code></pre>
<pre class="shell"><code>EDITOR=nvim visudo
----------------------------------------------------------------
%wheel      ALL=(ALL:ALL) ALL</code></pre>
<pre class="shell"><code>nvim /etc/pacman.conf
----------------------------------------------------------------
## Edite la configuración del administrador de paquetes Pacman.
## wiki: https://wiki.archlinux.org/title/Pacman#General_options
## man-page: https://man.archlinux.org/man/pacman.conf.5#OPTIONS
...
# Misc options
# Habilitar salida de colores en la terminal.
Color
# Habilitar n descargas paralelas.
## wiki: https://wiki.archlinux.org/title/Pacman#Enabling_parallel_downloads
ParallelDownloads = 2
# Emoji del juego pacman comiendo dulces en barra de progreso.
ILoveCandy
...
# Habilitar repositorio de paquetes de 32 bits (x86) multilib.
[multilib]
Include = /etc/pacman.d/mirrorlist</code></pre>
<p><strong>Paquetes</strong></p>
<pre class="shell"><code># Intel
pacman -Sy intel-ucode open{ssh,resolv} iwd net-tools snapper usbutils htop neofetch lsscsi arch-install-scripts rsync tree git --needed --noconfirm

# AMD
#pacman -Sy intel-ucode open{ssh,resolv} iwd net-tools snapper usbutils htop neofetch lsscsi arch-install-scripts rsync tree git --needed --noconfirm</code></pre>
<p><strong>Internet</strong>: <em>iwd</em>, <em>systemd-networkd</em> y
openresolv.</p>
<p>Se usará los servicios <em>dhcp</em> incorporados en
<code>systemd-networkd</code> e <code>iwd</code>, por eso no va a ser
necesario instalar un servidor <em>dhcp</em> externo.</p>
<p>iwctl:</p>
<pre class="shell"><code>mkdir -p /etc/iwd/</code></pre>
<pre class="shell"><code>nvim /etc/iwd/main.conf
----------------------------------------------------------------
## Fichero de configuración opcional del gestor de redes inalámbricas IWD, adaptado para el uso junto al administrador de redes completo systemd-netowrkd.
#--&gt; /etc/iwd/main.conf
## wiki: https://wiki.archlinux.org/title/Iwd#Enable_built-in_network_configuration
## man-page: https://man.archlinux.org/man/community/iwd/iwd.config.5.en#Network

[Network]
# :===================:============:==============================================:
# |   Servidor DNS    |   Opción   |                IWD +                         |
# :===================:============:==============================================:
# | DNS del sistema*: |    none    | Systemd-networkd*, connman o NetworkManager. |
# | Openresolv:       | resolvconf | Resolvconf sin systemd-networkd.             |
# | systemd-resolv:   |  systemd   | Systemd-networkd + systemd-resolv (Default). |
NameResolvingService=none

[General]
# Asignar direcciones IP y configurar rutas usando el cliente DHCP incorporado.
## wiki: https://man.archlinux.org/man/community/iwd/iwd.config.5.en#General_Settings
# :=========:==================:=================================================:
# |  Opción |     Opción en    |               Descripción                       |
# |  en IWD | systemd-networkd |                                                 |
# :=========:==================:=================================================:
# |  false  |      DHCP=yes    | Desactivar el cliente DHCP interno de iwd y ac- |
# |         |                  | tivar el de systemd-networkd.*                  |
# |------------------------------------------------------------------------------|
# |         |                  | Si usa iwd solo, sin un administrador de red    |
# |         |                  | completo como systemd-networkd. De lo contrario |
# |         |                  | si usa &quot;DHCP=no&quot; en &quot;.../25-wireless.network&quot;   |
# |   true  |                  | (systemd-networkd+iwd), la interface inalámcrica|
# |         |                  | se qudará sin IP cuando reinicie únicamente el  |
# |         |                  | servicio systemd-networkd.                      |
EnableNetworkConfiguration=false

### Autor: https://t.me/dakataca ###</code></pre>
<p><a
href="https://man.archlinux.org/man/systemd.network.5.de">systemd-networkd:</a></p>
<pre class="shell"><code>nvim /etc/systemd/network/20-wired.network
----------------------------------------------------------------
## Fichero de configuración de la red cableada con systemd-networkd:
#--&gt; /etc/systemd/network/20-wired.network
## wiki: https://wiki.archlinux.org/title/systemd-networkd#Wired_and_wireless_adapters_on_the_same_machine

[Match]
# Nombre de la interface de red cableada.
Name=enp3s0f1 enp3s0 enp*

[Network]
# Servidor interno DHCP.
DHCP=yes
# Validación de soporte para DNSSEC.
DNSSEC=true
# No reconfigurar la interfaz. Solo 3s en modo roaming.
IgnoreCarrierLoss=3s

[DHCPv4]
# Métrica de la ruta: Preferencia indirectamente proporcional del dispositivo de red cableada (10 &gt;preferencia 20).
RouteMetric=10
# Minimizar la divulgación de información de identificación.
Anonymize=true

### Autor: https://t.me/dakataca ###</code></pre>
<pre class="shell"><code>nvim /etc/systemd/network/25-wireless.network
----------------------------------------------------------------
## Fichero de configuración de la red inalámbrica con systemd-networkd:
#--&gt; /etc/systemd/network/25-wireless.network
## wiki: https://wiki.archlinux.org/title/systemd-networkd#Wired_and_wireless_adapters_on_the_same_machine

[Match]
# Nombre de la interface de red inalámbrica.
Name=wlan0 wl*

[Network]
# :========:==============:====================================:
# | Opción | DHCP interno |             Requiere               |
# :========:==============:====================================:
# |   yes  | Activado*    | DHCP interno de IWD desactivo.     |
# |   no   | Desactivado  | Da errores con cliente DHCP de IWD.|
DHCP=yes
# Validación de soporte para DNSSEC.
DNSSEC=true
# No reconfigurar la interfaz. Solo 3s en modo roaming.
IgnoreCarrierLoss=3s

[DHCPv4]
# Métrica de la ruta: Preferencia indirectamente proporcional del dispositivo de red cableada (20 &lt;preferencia 10).
RouteMetric=20
# Minimizar la divulgación de información de identificación.
Anonymize=true

### Autor: https://t.me/dakataca ###</code></pre>
<p>DNS Openresolv</p>
<pre class="shell"><code>nvim /etc/resolvconf.conf
----------------------------------------------------------------
## Edite la configuración de la implementación de resolvconf Openresolv.
#--&gt; /etc/resolvconf.conf
## wiki: https://wiki.archlinux.org/title/Openresolv#Defining_multiple_values_for_options
## man-page: https://man.archlinux.org/man/resolvconf.conf.5.en 
...
# Utilizar los DNS externos de Google y cloudflare.
name_servers=&quot;8.8.8.8 8.8.4.4 1.1.1.1 1.0.0.1&quot;
# Confiar el bit AD tanto a la ruta red como a la validación de DNSSEC. Debe habilitar DNSSEC en el administrador de red completo (systemd-netowrkd).
## wiki: https://wiki.archlinux.org/title/Openresolv#Defining_multiple_values_for_options
resolv_conf_options=&quot;trust-ad&quot;

### Autor: https://t.me/dakataca ###</code></pre>
<pre class="shell"><code>systemctl enable {iwd,systemd-networkd,sshd}.service</code></pre>
<pre class="shell"><code>exit
swapoff -a
umount -R /mnt
reboot</code></pre>
<p>Seleccionar kernel <code>linux</code> en el GRUB.</p>
<h4 id="luego-del-primer-reinicio">Luego del primer reinicio</h4>
<p><strong>En el equipo host:</strong></p>
<ul>
<li>Inicie sesión como usuario <code>root</code>.</li>
<li>Genere el fichero <code>/etc/resolv.conf</code> usando
<code>resolvconf</code>.</li>
<li>Valide:
<ul>
<li>Fichero <code>/etc/resolv.conf</code>.</li>
<li>Salida a Internet.</li>
<li>IP asignada a su interfaz de red inalámbrica.</li>
</ul></li>
</ul>
<pre class="shell"><code>root #host
resolvconf -u #host
head /etc/resolv.conf #host
ping -c3 archlinux.org #host
ip a #host</code></pre>
<p><strong>En el equipo anfitrión:</strong></p>
<p>Iniciar sesión con usuario <code>dakataca</code> para luego entrar
vía <code>ssh</code> a <code>root</code>:</p>
<pre class="shell"><code>rm ~/.ssh/known_hosts
ssh dakataca@192.168.1.103
su
snapper -c config create-config /
btrfs subvolume delete /.snapshots
btrfs subvolume list -p /
mount --mkdir -o noatime,compress=zstd,subvol=@snapshots /dev/sda3 /.snapshots
chmod a+rx /.snapshots
chown :wheel /.snapshots
genfstab -U / &gt; /etc/fstab</code></pre>
<pre class="shell"><code>nvim /etc/snapper/configs/config
----------------------------------------------------------------
## Edite la configuración del administrador de instantáneas snapper (Solo btrfs).
#--&gt; /etc/snapper/configs/config
## wiki: https://wiki.archlinux.org/title/snapper#Set_snapshot_limits.


## man-page: https://man.archlinux.org/man/snapper-configs.5.en#VARIABLES
ALLOW_GROUPS=&quot;wheel&quot;          # Usuarios del grupo &quot;wheel&quot; pueden enumerar instantaneas.
SYNC_ACL=&quot;yes&quot;                # Sincronizar permisos de usuarios y grupos con la ACL.
...
NUMBER_LIMIT=&quot;30&quot;             # Número de instantáneas a conservar por el algoritmo.
NUMBER_LIMIT_IMPORTANT=&quot;5&quot;    # Número de instantáneas importanes que debe conservar.
...
TIMELINE_MIN_AGE=&quot;1800&quot;       # Edad mínima para que las instantáneas sean eliminadas.
TIMELINE_LIMIT_HOURLY=&quot;5&quot;     # Límite de instantaneas por hora.
TIMELINE_LIMIT_DAILY=&quot;7&quot;      # Límite de instantaneas por día.
TIMELINE_LIMIT_WEEKLY=&quot;0&quot;     # Límite de instantaneas semanales.
TIMELINE_LIMIT_MONTHLY=&quot;0&quot;    # Límite de instantaneas mensuales.
TIMELINE_LIMIT_YEARLY=&quot;0&quot;     # Límite de instantaneas anuales.


...</code></pre>
<pre class="shell"><code>systemctl enable snapper-{timeline,cleanup}.timer
systemctl enable grub-btrfsd.service</code></pre>
<p>Variables de entorno</p>
<pre class="shell"><code>nvim /etc/environment
----------------------------------------------------------------
# Establecer editor de texto completo.
VISUAL=nvim</code></pre>
<p><strong>zram-generator y pipewire</strong></p>
<p>Instalación</p>
<pre class="shell"><code>pacman -S zram-generator lib32-pipewire pipewire{,-{alsa,pulse,jack}} wireplumber alsa-utils --needed --noconfirm</code></pre>
<p>Desactivar zwap y activar tcpfastopen:</p>
<pre class="shell"><code>nvim /etc/sysctl.d/99-sysctl.conf
----------------------------------------------------------------
## Fichero de configuración del administrador de parámetros del kernel sysctl.
#--&gt; /etc/sysctl.d/99-sysctl.conf
## wiki: https://wiki.archlinux.org/title/Sysctl#Configuration

# Deshabilitar zswap por incompatibilidad con zram.
## wiki: https://wiki.archlinux.org/title/Zswap#Toggling_zswap
## wiki: https://wiki.archlinux.org/title/Improving_performance#zram_or_zswap
zswap.enabled=0


# Habilitar TCP Fast Open.
## wiki: https://wiki.archlinux.org/title/Sysctl#Enable_TCP_Fast_Open
net.ipv4.tcp_fastopen=3

## wiki: https://wiki.archlinux.org/title/Swap#VFS_cache_pressure
## doc: https://web.archive.org/web/20171004100853/http://doc.opensuse.org/documentation/leap/tuning/html/book.sle.tuning/cha.tuning.memory.html#cha.tuning.memory.vm.reclaim
# :===================================================================================:
# |                     Tendentencia del núcleo a usar la swap                        |
# :===========:=====:=====:=======:=====:=======:======:======:======:======:=========:
# |   Ram     | 2GB | 4GB*|  6GB  | 8GB |  12GB | 16GB | 24GB | 32GB | 64GB | Default |
# |-----------|-----|-----|-------|-----|-------|------|------|------|------|---------|
# | Cache VFS | 48  |  50 |  53   |  58 |   64  |  74  |  85  |  97  |  112 |  100    |
vm.vfs_cache_pressure=50

# Detectar conexiones TCP muertas después de 120 segundos.
## wiki: https://wiki.archlinux.org/title/sysctl#Change_TCP_keepalive_parameters
net.ipv4.tcp_keepalive_time = 60 
net.ipv4.tcp_keepalive_intvl = 10 
net.ipv4.tcp_keepalive_probes = 6

# Registrar paquetes marcianos para mayor inspección.
## wiki: https://wiki.archlinux.org/title/sysctl#Log_martian_packets
net.ipv4.conf.default.log_martians = 1
net.ipv4.conf.all.log_martians = 1


# :====================================================================================:
# |                                      Memoria virtual                               |
# :========================:=====:=====:======:=====:======:======:======:======:======:
# |            Ram         | 2GB | 4GB*|  6GB | 8GB | 12GB | 16GB | 24GB | 32GB | 64GB |
# |------------------------|-----|-----|------|-----|------|------|------|------|------|
# | dirty_ratio            |  9  |  8  |   7  |  6  |  4   |   3  |  2.5 |   2  |   1  |
# | dirty_background_ratio | 4.5 |  4  |  3.5 |  3  |  2   |  1.5 |   1  |  0.6 |  0.3 |
vm.dirty_ratio = 8               # Memoria ram que se puede llenar con páginas sucias.
vm.dirty_background_ratio = 4    # Porcentaje de datos que pueden mantenerse en ram.


# Aumentar tamaño de la cola de recepción. Solo para tarjetas de red de alta velocidad.
## wiki: https://wiki.archlinux.org/title/sysctl#Increasing_the_size_of_the_receive_queue.
# net.core.netdev_max_backlog = 16384

# Máximo de conexiones que aceptará el kernel.
#net.core.somaxconn = 8192          # Para procesadores con muchos núcleos.

### Autor: https://t.me/dakataca ###</code></pre>
<p>swap</p>
<pre class="shell"><code>nvim /etc/sysctl.d/99-swappiness.conf
----------------------------------------------------------------
# Fichero de configuración de swappines/swap.
#--&gt; /etc/sysctl.d/99-swappiness.conf


## wiki: https://wiki.archlinux.org/title/Swap#Swappiness
# :====================================================================================:
# |             Tendentencia del núcleo a usar la swap                                 |
# :============:=====:=====:=======:=====:=======:======:======:======:======:=========:
# |  Ram       | 2GB | 4GB*|  6GB  | 8GB |  12GB | 16GB | 24GB | 32GB | 64GB | Default |
# |------------|-----|-----|-------|-----|-------|------|------|------|------|---------|
# | swappiness |  5  |  10 |  14   | 22  |   31  |  42  |  56  |  67  |  78  |   60    |
sysctl.vm.swappiness=10</code></pre>
<pre class="shell"><code>nvim /etc/systemd/zram-generator.conf
----------------------------------------------------------------
## Fichero de configuración del administrador de espejos de descarga zram-generator:
#--&gt; /etc/systemd/zram-generator.conf
## wiki: https://wiki.archlinux.org/title/Zram#Automatically
## man-page: https://man.archlinux.org/man/zram-generator.conf.5#OPTIONS

[zram0]
# Tamaño del dispositivo de acuerdo a la ram disponible.
zram-size=max(ram / 3, 1300)
# Prioridad del uso de zram. Por defecto es 100. Directamente proporcional.
swap-priority=133
# Algoritmo de compresión más rápido (lz4).
compression-algorithm=lz4
# Mover páginas incomprensibles al dispositivo de respaldo.
#writeback-device=

[zram1]
# Punto de montaje.
mount-point=/tmp/
zram-size=max(ram / 6, 800)
swap-priority=110
# Ruta escribible por el usuario (util-linux &gt;=v2.39).
options=X-mount.mode = 1777
# Algoritmo de compresión más eficiente (zstd).
compression-algorithm=zstd

[zram2]
mount-point=/var/log/
zram-size=max(ram / 10, 380)
swap-priority=90
compression-algorithm=lz4

[zram3]
mount-point=/var/tmp/
zram-size=max(ram / 8, 500)
swap-priority=95
options = X-mount.mode=1777
compression-algorithm=lz4</code></pre>
<h4 id="xorg">Xorg</h4>
<pre class="shell"><code>pacman -S xorg-{server,xinput} --needed --noconfirm</code></pre>
<h3 id="teclados">Teclados</h3>
<h5 id="teclado-usb">Teclado usb</h5>
<pre class="shell"><code>lsusb
................................................................
Bus 002 Device 002: ID 04f2:b34f Chicony Electronics Co., Ltd HP Truevision HD
Bus 002 Device 001: ID 1d6b:0002 Linux Foundation 2.0 root hub
Bus 004 Device 001: ID 1d6b:0001 Linux Foundation 1.1 root hub
Bus 001 Device 001: ID 1d6b:0002 Linux Foundation 2.0 root hub
Bus 003 Device 005: ID 258a:002a SINO WEALTH Gaming KB
Bus 003 Device 004: ID 093a:2521 Pixart Imaging, Inc. Optical Mouse
Bus 003 Device 001: ID 1d6b:0001 Linux Foundation 1.1 root hub</code></pre>
<p>Ya tenemos la opción: <code>Identifier "SINO WEALTH Gaming KB"</code>
del teclado usb.</p>
<h5 id="teclado-de-la-portátil">Teclado de la portátil</h5>
<pre class="shell"><code>xinput --list | grep keyboard
................................................................
⎣ Virtual core keyboard                   id=3  [master keyboard (2)]
↳ Virtual core XTEST keyboard             id=5  [slave  keyboard (3)]
↳ Power Button                            id=6  [slave  keyboard (3)]
↳ Video Bus                               id=7  [slave  keyboard (3)]
↳ Power Button                            id=8  [slave  keyboard (3)]
↳ HP Truevision HD: HP Truevision         id=14 [slave  keyboard (3)]
↳ AT Translated Set 2 keyboard            id=15 [slave  keyboard (3)]
↳ Wireless hotkeys                        id=17 [slave  keyboard (3)]
↳ HP WMI hotkeys                          id=18 [slave  keyboard (3)]
↳ SINO WEALTH Gaming KB System Control    id=10 [slave  keyboard (3)]
↳ SINO WEALTH Gaming KB                   id=11 [slave  keyboard (3)]
↳ SINO WEALTH Gaming KB Consumer Control  id=13 [slave  keyboard (3)]
↳ SINO WEALTH Gaming KB Keyboard          id=19 [slave  keyboard (3)]</code></pre>
<p>Ya tenemos la opción:
<code>Identifier "AT Translated Set 2 keyboard"</code> del teclado de la
portátil.</p>
<pre class="shell"><code>nvim /etc/X11/xorg.conf.d/00-keyboard.conf
----------------------------------------------------------------
## Fichero de configuración de teclados específicos en Xorg.
#--&gt; /etc/X11/xorg.conf.d/00-keyboard.conf
## wiki: https://wiki.archlinux.org/title/Xorg/Keyboard_configuration#Using_X_configuration_files
## wiki: https://man.archlinux.org/man/xkeyboard-config.7#MODELS
## wiki: https://man.archlinux.org/man/xkeyboard-config.7#LAYOUTS
## wiki: https://man.archlinux.org/man/xkeyboard-config.7#OPTIONS

## man-page : https://man.archlinux.org/man/extra/xorg-server/xorg.conf.5.en#INPUTCLASS_SECTION
# Tenga en cuenta que cada &quot;InputClass&quot; puede anular la configuración de una clase anterior.
# Es conveniente organizar primero las &quot;Section&quot;s con las coincidencias más genéricas.
# Por eso configuramos el teclado de mayor preferencia abajo (KUMARA K552-KR), y los de menor preferencia arriba (del portátil y el por defecto). Tenga en cuenta que el teclado por defecto puede ser cualquier otro teclado distinto a los configurados en el fichero.

# :==============================:==========================================================:
# |                              |                  Configuración Principal                 |
# |     Teclados ordenados       :---------.------------.------------.----------------------:
# |      por preferencia         | Layout |   Model     |   Variant  |         Option       |
# :==============================:========:=============:============:======================:
# | SINO WEALTH Gaming KB*       |   us   |     pc86    | altgr-intl |                      |
# |------------------------------|--------|-------------|------------|                      |
# | AT Translated Set 2 keyboard | latam  | acer_laptop | deadtilde  | grp:alt_shift_toogle |
# |------------------------------|--------|-------------|------------|                      |
# | system-keyboard              |   us   |     pc86    | altgr-intl |                      |
# :-----------------------------------------------------------------------------------------:


# Teclado por defecto.
Section  &quot;InputClass&quot;
    Identifier  &quot;system-keyboard&quot;
    MatchIsKeyboard  &quot;on&quot;
        # Distribución estadounidense (default), latina o española.
        Option  &quot;XkbLayout&quot;   &quot;us,latam,es&quot;
        # Modelos de teclado disponibles.
        Option  &quot;XkbModel&quot;    &quot;pc86,acer_laptop,acer_laptop&quot;
        # Incluir tilde muerta según distribución de teclado.
        Option  &quot;XkbVariant&quot;  &quot;altgr-intl,deadtilde,deadtilde&quot;
        # Alt+Shift para cambiar de distribución de teclado.
        Option  &quot;XkbOptions&quot;  &quot;grp:alt_shift_toogle&quot;
EndSection

# Teclado del portátil Acer Aspire ES1-411.
Section  &quot;InputClass&quot;
    Identifier  &quot;AT Translated Set 2 keyboard&quot;
    MatchIsKeyboard  &quot;on&quot;
        # Distribución latina (default), española o estadounidense.
        Option  &quot;XkbLayout&quot;     &quot;latam,es,us&quot;
        # Distribución española (default), latina o estadounidense.
#       Option  &quot;XkbLayout&quot;     &quot;es,latam,us&quot;
        # Modelo Acer Laptop.
        Option  &quot;XkbModel&quot;      &quot;acer_laptop,acer_laptop,acer_laptop&quot;
        # Incluir tilde muerta según distribución de teclado.
        Option  &quot;XkbVariant&quot;    &quot;deadtilde,deadtilde,altgr-intl&quot;
        # Alt+Shift para cambiar de distribución de teclado.
        Option  &quot;XkbOptions&quot;    &quot;grp:alt_shift_toogle&quot;
EndSection

# Teclado usb KUMARA K552-KR.
Section  &quot;InputClass&quot;
    Identifier  &quot;SINO WEALTH Gaming KB&quot;
    MatchIsKeyboard  &quot;on&quot;
        # Distribución estadounidense (default), latina o española.
        Option  &quot;XkbLayout&quot;     &quot;us,latam,es&quot;       
        # Modelo genérico de 86 teclas.
        Option  &quot;XkbModel&quot;      &quot;pc86,pc86,pc86&quot;        
        # Incluir tilde muerta según distribución de teclado.
        Option  &quot;XkbVariant&quot;    &quot;altgr-intl,deadtilde,deadtilde&quot;        
        # Alt+Shift para cambiar de distribución de teclado.
        Option  &quot;XkbOptions&quot;    &quot;grp:alt_shift_toogle&quot;
EndSection

### Autor: https://t.me/dakataca ###</code></pre>
<h3 id="intel-graphics">Intel Graphics</h3>
<p>Configuración del driver de video Intel (<strong>no
recomendado</strong>):</p>
<pre class="shell"><code>pacman -S xf86-video-intel --needed --noconfirm</code></pre>
<pre class="shell"><code>nvim /etc/X11/xorg.conf.d/20-intel.conf
----------------------------------------------------------------
## Fichero de configuración de los gráficos Intel del paquete &quot;xf86-video-intel&quot;:
#--&gt; /etc/X11/xorg.conf.d/20-intel.conf
## wiki: https://wiki.archlinux.org/title/Intel_graphics#Xorg_configuration
## wiki: https://wiki.archlinux.org/title/Intel_graphics#Tearing

Section  &quot;Device&quot;
    Identifier  &quot;Intel Graphics&quot;
    Driver  &quot;intel&quot;
        Option  &quot;TearFree&quot;      &quot;true&quot;     # Evitar desgarre de pantalla (tearing).
#       Option  &quot;AccelMethod&quot;   &quot;sna&quot;      # Método de aceleración por defecto.
#       Option  &quot;AccelMethod&quot;   &quot;uxa&quot;      # Anriguo método de aceleración.
#       Option  &quot;DRI&quot;           &quot;2&quot;        # Deshabilitar DRI3.
EndSection

### Autor: https://t.me/dakataca ###</code></pre>
<h3 id="amd-graphics">AMD Graphics</h3>
<h4 id="radeon">radeon</h4>
<pre class="shell"><code>pacman -S xf86-video-ati --needed</code></pre>
<pre class="shell"><code>nvim /etc/X11/xorg.conf.d/20-radeon.conf
----------------------------------------------------------------
## Fichero de configuración de gráficas AMD ATI. Aplica desde la familia r100 (2000), hasta la mullins (2014).
## man-page: https://man.archlinux.org/man/radeon.4#SUPPORTED_HARDWARE
## wiki: https://wiki.archlinux.org/title/ATI#Installation
## wikipedia: https://en.wikipedia.org/wiki/Radeon_R100_series
## wikipedia: https://es.wikipedia.org/wiki/AMD_Accelerated_Processing_Unit#Beema_&amp;_Mullins_(28nm)
## Fuente externa: https://technical.city/en/video/Radeon-R6-Mullins

Section &quot;OutputClass&quot;
    Identifier &quot;Radeon&quot;
    MatchDriver &quot;radeon&quot;
    Driver &quot;radeon&quot;
        Option  &quot;AccelMethod&quot;    &quot;glamor&quot;    # Arquitectura de aceleración glamor.
        Option  &quot;TearFree&quot;       &quot;on&quot;        # Evitar desgarre de pantalla (tearing).
        Option  &quot;DRI&quot;            &quot;3&quot;         # Habilitar DRI3.
        Option  &quot;ColorTiling&quot;    &quot;on&quot;        # Habilitar ColorTiling.
        Option  &quot;ColorTiling2D&quot;  &quot;on&quot;        # Habilitar ColorTiling2D.
EndSection</code></pre>
<p><strong>Touchpad</strong></p>
<pre class="shell"><code>nvim /etc/X11/xorg.conf.d/30-touchpad.conf
----------------------------------------------------------------
## Fichero de configuración del touchpad en Xorg:
#--&gt; /etc/X11/xorg.conf.d/30-touchpad.conf
## wiki: https://wiki.archlinux.org/title/Libinput#Tapping_button_re-mapping

Section  &quot;InputClass&quot;
    Identifier  &quot;touchpad&quot;
    Driver  &quot;libinput&quot;
    MatchIsTouchpad  &quot;on&quot;
    MatchDevicePath  &quot;/dev/input/event*&quot;
        # Habilitar click al toque.
        Option  &quot;Tapping&quot;             &quot;true&quot;
        # Velocidad táctil.
        Option  &quot;AccelSpeed&quot;          &quot;0.2&quot;
        # Habilitar desplazamiento natural.
        Option  &quot;NaturalScrolling&quot;    &quot;true&quot;
        # Deshabilitar touchpad mientras se digita en el teclado.
#       Option  &quot;DisableWhileTyping&quot;  &quot;true&quot;
        # Habilitar click derecho y medio con dos y tres toques respectivamente.
        Option  &quot;TappingButtonMap&quot;    &quot;lrm&quot;
        # Habilitar tocar y arrastrar.
        Option  &quot;TappingDrag&quot;         &quot;true&quot;
        # Habilitar bloqueo de arrastre (arrastrar sin soltar).
        Option  &quot;TappingDragLock&quot;     &quot;true&quot;
        # Desactivar touchpad mientras esté conectado un mouse externo.
        Option  &quot;SendEventsMode&quot;      &quot;disabled-on-external-mouse&quot;      
EndSection

### Autor: https://t.me/dakataca ###</code></pre>
<p>Cambiarse a usuario <code>dakataca</code>:</p>
<pre class="shell"><code>exit
sudo pacman -S xdg-user-dirs --needed --noconfirm
LC_ALL=C xdg-user-dirs-update --force
ls</code></pre>
<h3 id="qtile">Qtile</h3>
<p>Xinit, <code>qtile</code>, terminal <code>alacritty</code>,
multiplexor de terminal <code>tmux</code>, navegadores y pipewire.</p>
<pre class="shell"><code>sudo pacman -S xorg-xinit qtile alacritty tmux chromium firefox --needed --noconfirm</code></pre>
<h4 id="configuraciones">Configuraciones:</h4>
<ul>
<li>Comentar líneas innecesarias de <code>~/.xinitrc</code>.</li>
<li>Insertar línea de ejecución de <code>qtile</code>.</li>
<li>Copiar fichero de configuración.</li>
<li>Validar fichero de configuración.</li>
</ul>
<pre class="shell"><code>sed -E &quot;/^(xclock|(exec )?xterm|twm)/s/^/#/g&quot; /etc/X11/xinit/xinitrc &gt; ~/.xinitrc

diff /etc/X11/xinit/xinitrc ~/.xinitrc

echo &#39;exec qtile start&#39; &gt;&gt; ~/.xinitrc

install -D /usr/share/doc/qtile/default_config.py ~/.config/qtile/config.py

python -m py_compile ~/.config/qtile/config.py</code></pre>
<p>Alacritty config</p>
<pre class="shell"><code>mkdir -p ~/.config/alacritty/
nvim ~/.config/alacritty/alacritty.yml
----------------------------------------------------------------
## Fichero de configuración a nivel de usuario, del emulador de terminal Alacritty:
#--&gt; ~/.config/alacritty/alacritty.yml
## wiki: https://wiki.archlinux.org/title/Alacritty#Configuration

font:
  normal:
    #family: DejaVu Sans Mono
    family: Inconsolata medium
    style: Regular

  bold:
    family: Inconsolata medium
    style: Bold

  italic:
    family: Inconsolata medium
    style: Italic

  bold_italic:
    family: Inconsolata medium
    style: Bold Italic

  size: 12


## Atajos de teclado.

# Generar nueva instancia de alacritty con el directorio de trabajo actual, presionando Ctrl+Shift+Enter.
key_bindings:
  - { key: Return,   mods: Control|Shift, action: SpawnNewInstance }

### Autor: https://t.me/dakataca ###</code></pre>
<p>Tmux config</p>
<pre class="shell"><code>mkdir -p ~/.config/tmux/</code></pre>
<pre class="shell"><code>nvim ~/.config/tmux/tmux.conf
--------------------------------------------------------------
## Fichero de configuración a nivel de usuario, del multiplexor de terminal tmux.
#--&gt; ~/.config/tmux/tmux.conf
## wiki: https://wiki.archlinux.org/title/Tmux#Configuration

# Cambiar enlace de prefijo Ctrl+b, a Ctrl+a.
unbind C-b
set -g prefix C-a
bind C-a send-prefix

# Habilitar el uso del mouse.
set -g mouse on

# Habilitar terminal con 256 colores.
set -g default-terminal &quot;tmux-256color&quot;

# Establecer profundidad del color de alacritty en 24 bit.
set -ga terminal-overrides &quot;, alacritty: Tc&quot;

# Iniciar en 1 en ves de 0, la numeración de sesiones, ventanas y paneles.
set -g base-index 1

# Reorganizar ventanas con Shift+Left/Right.
bind-key -n S-Left swap-window -t -1 \; select-window -t -1
bind-key -n S-Right swap-window -t +1 \; select-window -t +1

# Recargar fichero de configuración manualmente.
bind r source-file ${HOME}/.tmux.conf \; display-message &quot;source-file reloaded&quot;

### Autor: https://t.me/dakataca ###</code></pre>
<pre class="shell"><code>nvim ~/.config/chromium-flags.conf
--------------------------------------------------------------
## Fichero de configuración a nivel de usuario del navegador chromium habilitando VAAPI:
#--&gt; ~/.config/chromium-flags.conf
## wiki: https://wiki.archlinux.org/title/Chromium#Force_GPU_acceleration

# Forzar modo nocturno.
--force-dark-mode

# Forzar aceleración de GPU.
--ignore-gpu-blocklist
--enable-gpu-rasterization
--enable-zero-copy

# Habilitar aceleración de video VAAPI.
--enable-features=VaapiVideoDecoder

### Autor: https://t.me/dakataca ###</code></pre>
<p>Iniciar Qtile</p>
<pre class="shell"><code>exit #host
dakataca #host
startx #host</code></pre>
